{% extends "layout.html" %}
{% block content %}
    <h1>About us</h1>
<p>We are students developing a <b>Touring System.</b> Our goal is to make the tours around the world more organised and easy for our dear customers!</p>
<p>Why use our web page?</p>
<ul>
<li>The tours are cheap and you can even make a custom one all by yourself!</li>
<li>You can see our improvement of developing the website</li>
</ul>
<p>Our goal is to improve your experience with this website as much as possible</p>
<p>Viktoria's social media: <a href="https://www.facebook.com/viki.grozdanova.9">Facebook</a>
<p>Chris's social media: <a href="https://www.facebook.com/chris.kkirilov">Facebook</a></p>
<hr>
<p>&#169; Team TP, 2020</p>
{% endblock content %}